* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
.page2,
.page3 {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #455a64;
  font-family: sans-serif;
}
.screen1,
.screen2,
.screen3 {
  background-color: #576e79;
  width: 70%;
  display: flex;
  flex-direction: column;
  border-left: 12px solid #607d8b;
  border-bottom: 12px solid #4a5d66;
  padding: 20px;
  margin-top: 35px;
}

.heading {
  font-size: 40px;
  margin-bottom: 35px;
  color: #212121;
}
.paragraph {
  font-size: 35px;
  color: #212121;
  margin-bottom: 35px;
}
.card__form {
  font-size: 30px;
  color: #212121;
  line-height: 50px;
}
.button {
  margin-top: 35px;
  padding: 20px 0 20px 0;
  background-color: #d8a536;
  text-align: center;
  width: 100%;
  font-size: 30px;
  color: #212121;
  border-bottom: 6px solid #b98d2d;
  border-right: 6px solid #9c7726;
}
input[type="number"],
input[type="password"] {
  max-width: 242px;
  height: 30px;
  font-size: 25px;
  background-color: #455a64;
  color: #212121;
  border-bottom: 4px solid #607d8b;
  border-right: 4px solid #4a5d66;
}
.short {
  width: 175px;
}
.button:hover {
  background-color: #b98d2d;
}

.page2 {
  position: absolute;
  width: 100%;
  height: auto;
  left: 100%;
}

#cssload-wrapper {
  height: 40px;
  width: 75%;
  background: #212121;
  border-bottom: 4px solid #607d8b;
  border-right: 4px solid #4a5d66;
  margin-bottom: 25px;
}
#cssload-line {
  height: 40px;
  width: 100%;
  background-color: #d8a536;
  animation: cssload-slide 10s;
  animation-delay: 10s;
}
@keyframes cssload-slide {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.page3 {
  position: absolute;
  width: 100%;
  height: auto;
  left: 200%;
}
#cong {
  color: #d8a536;
}
